@import "variables.scss";

html{
  font-size: 1em;
}

body {
  padding: 0px;
  margin: 0px;
}

// .header {
//   background-color: indigo;
//   .navbar, .banner{
//     display: flex;
//   }

// }

// * {
//   align-items: center;
// }

// .navbar {
//   display: flex;
//   align-items: center;
//   .logo {
//     display: flex;
//     flex-wrap: nowrap;
//     // align-items: stretch;
    
//     img {
//       max-width: 100%;
//       height: auto;
//       align-self: center;

//     }
//   .sign {
//     margin-left: auto;
//   }

//   }
// }

// ul {
//   display: flex;
// }

// li {
//   list-style-type: none;
// }

// .banner {
//   font-size: 3rem;
//   padding: 3rem;
//   .get-started {
//     // flex-grow: 0;
//   }
// }

// .clickable {
//   background: hsl(163, 95%, 43%);
//   border: 0px solid;
//   border-radius: 5px;
//   padding: 0.5em 2em 0.5em 2em;
//   white-space: nowrap;
//   // margin: 1em;
//   margin: 0 auto;
//   display: inline-block;
// }


.attribution { 
  font-size: 11px; 
  text-align: center; 
  a { 
  color: hsl(228, 45%, 44%); 
  }
}

